user: Username
account_picture: files/Picture.jpg
dotfiles_dir: '/Users/{{ user }}/'
gitconfig_name: John Doe
gitconfig_email: john@ansible.com
osx_lock_screen_text: Found Me? Stole Me? Return me Back!\n ..
osx_dock_tile_px: 42
osx_hostname: Macbook
terminal_theme: Flat

homebrew_apps:
    - git
    - brew-cask
    - htop-osx
    - ssh-copy-id
    - git-flow-avh
    - heroku
    - docker
    - docker-compose
    - composer
    - boot2docker
    - autoconf
    - curl
    - chromedriver
    - selenium-server-standalone
    - siege
    - ngrok
    - php-cs-fixer
    - php-code-sniffer
    - unrar
    - node

cask_apps:
  - sublime-text3
  - vagrant
  - vagrant-manager
  - virtualbox
  - google-chrome
  - firefox
  - sequel-pro
  - spotify
  - slack
  - 1password
  - flux
  - istat-menus
  - adium
  - arduino
  - cocoarestclient
  - sonos
  - vlc
  - alfred
  - firefoxdeveloperedition
  - java7
  - dropbox-experimental
  - google-drive
  - garmin-communicator
  - macdown
  - flash-player
  - gas-mask
  - garmin-express
  - cyberduck
  - grandtotal
  - ynab
  - osxfuse

vagrant_plugins:
  - vagrant-vbguest
  - vagrant-cachier
  - vagrant-hostsupdater
  - vagrant-triggers

dock_apps:
  # Finder.app (default)
  # Mail.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Mail.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Messages.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Messages.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Adium.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Adium.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Calendar.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Calendar.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
   # Reminders.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Reminders.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
   # Slack.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Slack.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Spacer
  - '{tile-data={}; tile-type="spacer-tile";}'

  # Safari.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Safari.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Firefox.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Firefox.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # FirefoxDeveloperEdition.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/FirefoxDeveloperEdition.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Terminal.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Utilities/Terminal.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Sublime Text.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Sublime Text.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Spacer
  - '{tile-data={}; tile-type="spacer-tile";}'

  # Sequel Pro.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Sequel Pro.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Spotify.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Spotify.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>

dock_others:
  - /Users/Joeri/Downloads/
