user: joeri
account_picture: files/Picture.jpg
dotfiles_dir: '/Users/{{ user }}/'
gitconfig_name: Joeri Verdeyen
gitconfig_email: joeriv@yappa.be
osx_lock_screen_text: Found Me? Stole Me? Return me Back!\n ..
osx_dock_tile_px: 42
osx_hostname: Macbook
terminal_theme: Piperita

homebrew_apps:
    - ansible
    - glib
    - mackup
    - phplint
    - autoconf
    - mcrypt
    - mhash
    - pkg-config
    - ncdu
    - readline
    - composer
    - htop-osx
    - curl
    - icu4c
    - ngrep
    - siege
    - ngrok
    - ssh-copy-id
    - diff-so-fancy
    - jpeg
    - node
    - jpegoptim
    - openssl
    - testssl
    - docker
    - less
    - optipng
    - docker-compose
    - libffi
    - libgcrypt
    - pcre
    - libgpg-error
    - php-code-sniffer
    - unrar
    - libpng
    - php-cs-fixer
    - wget
    - geoip
    - libssh2
    - php56
    - gettext
    - libtasn1
    - php56-intl
    - git
    - libtool
    - php70
    - git-flow
    - libxml2
    - php70-mcrypt
    - zlib
    - git-ftp
    - libyaml
    - phpcpd

cask_apps:
  - sublime-text3
  - vagrant
  - virtualbox
  - google-chrome
  - firefox
  - sequel-pro
  - spotify
  - slack
  - 1password-beta
  - flux
  - istat-menus
  - adium
  - cocoarestclient
  - sonos
  - vlc
  - alfred
  - java7
  - dropbox-experimental
  - macdown
  - gas-mask
  - cyberduck

dock_apps:
  # Finder.app (default)
  # Mail.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Mail.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Messages.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Messages.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Adium.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Adium.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Calendar.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Calendar.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
   # Reminders.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Reminders.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
   # Slack.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Slack.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Spacer
  - '{tile-data={}; tile-type="spacer-tile";}'

  # Safari.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Safari.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Firefox.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Firefox.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # FirefoxDeveloperEdition.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/FirefoxDeveloperEdition.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Terminal.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Utilities/Terminal.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Sublime Text.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Sublime Text.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Spacer
  - '{tile-data={}; tile-type="spacer-tile";}'

  # Sequel Pro.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Sequel Pro.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>
  # Spotify.app
  - <dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Spotify.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>

dock_others:
  - /Users/Joeri/Downloads/
